<footer class="theme-dark-grey">

    <!-- Frame -->

    <div class="frame constrain pad-xy-respond spread-respond flow-ttb-mob flow-ltr-tab">

        <div class="pad-y">
            <h4 class="text-l-mob margin-b pad-b border-b">Heading</h4>
            <ul>
                <li>Option 1</li>
                <li>Option 2</li>
            </ul>
        </div>

        <div class="pad-y">
            <h4 class="text-l-mob margin-b pad-b border-b">Heading</h4>
            <ul>
                <li>Option 1</li>
                <li>Option 2</li>
            </ul>
        </div>

    </div>

</footer>
