<div class="page-strip theme-dark-grey">

    <!-- Frame -->

    <div>

        <!-- Content -->

        <div class="brand">
            <a class="brand-wimsa" href="index.php"></a>
        </div>

        <div class="payoff"><h1>Women in Mining SA</h1></div>

        <!-- Site Overlay for Pushy -->

		<div class="site-overlay"></div>

        <!-- Site Menu Wrapped in Pushy -->

        <nav class="pushy pushy-right">
            <div class="pushy-content">
                <div class="site-menu">

                    <div class="site-menu-container" tabindex="0">
                        <a href=""><span class="site-menu-dropdown-heading">Events</span></a>
                    </div>

                    <div class="site-menu-container" tabindex="0">
                        <a href=""><span class="site-menu-dropdown-heading">Youth Guidance</span></a>
                    </div>

                    <div class="site-menu-container" tabindex="0">
                        <a href=""><span class="site-menu-dropdown-heading">Mentorships</span></a>
                    </div>

                </div>
            </div>
        </nav>

        <!--<a class="icon-???" title=""></a>-->

        <a class="icon-menu" title="Menu"></a>

        </div>

    </div>

</div>
