<figure class="width-100-mob pad-xy-mob radius-mob theme-grey border-mob accent-blue shadow-mob">

	<a href="landing-prospectus-form.php" name="download prospectus" aria-labelledby="download-prospectus">
		<img class="image-downloads image-downloads--shift" src="assets/images/prospectus.png" alt="download prospectus">
	</a>

	<div>
		<h3>School Prospectus</h3>
		<p>Learn how our school operates, our values and ethos, and why we may be the perfect fit for your child.</p>
	</div>

	<div class="pad-t-mob">
		<a href="landing-prospectus-form.php" name="download prospectus"><button class="theme-blue" aria-label="button">Download</button></a>
	</div>

</figure>