<figure class="width-100-mob pad-xy-mob radius-mob theme-grey border-mob accent-blue shadow-mob">

	<a href="" target="_blank" rel="noopener" aria-labelledby="listen-podcast">
		<img class="image-downloads radius-mob border-mob" src="assets/images/photos/mobile/campus__lawns-fountain.jpg" alt="">
	</a>

	<div>
		<!-- <h3>Arrange a Tour of the School</h3> -->
        <h3>Arrange a Remote Trial Week</h3>
		<!-- <p>Book a personal tour of the school with our Headmaster.</p> -->
	</div>

	<div class="pad-t-mob">
		<a href="tour-request-form.php" target="_blank" rel="noopener" aria-label="book tour" aria-labelledby="book-tour">
			<button class="theme-green" id="book-tour">Arrange</button>
		</a>
	</div>

</figure>
