<figure class="width-100-mob pad-xy-mob radius-mob theme-grey border-mob accent-blue shadow-mob">

	<a href="landing-2-book-form.php" name="download book" aria-labelledby="download-book">
		<img class="image-downloads image-downloads--shift" src="assets/images/book.png" alt="download book">
	</a>

	<div>
		<h3>Educating Your 22nd Century Child</h3>
		<p>Valuable information that all parents should know when choosing a school for their child.</p>
	</div>

	<div class="pad-t-mob">
		<a href="landing-2-book-form.php" name="download book"><button class="theme-blue" aria-label="button">Download</button></a>
	</div>

</figure>