<section class="pad-respond-xy-mob theme-dark-grey border-b-mob" id="contact">

		<!-- Section Header -->
		
		<header class="constrain pad-respond-y-mob">
			<h2 class="text-underline-red">Contact Education Incorporated</h2>
			<p>At EduInc we talk about things face-to-face. To start a conversation with us and establish if we are the right match for your educational expectations, please contact us on <a href="tel:+27114678015" target="_blank">+27 (0)11-467-8015</a>.</p>
		</header>

		<!--
		Container
		-->
	
		<div class="constrain pad-respond-y-mob">
	
			<!--
			Form
			-->
	
			<form accept-charset="UTF-8" action="https://usebasin.com/f/6094fd2c91dd" method="POST">
	
				<!--
				Hidden inputs
				-->
		
				<!--
				Visible inputs
				-->
	
				<div class="flow-ttb-mob spread">
	
						<div class="flow-ttb-mob flow-ltr-tab width-100-mob spread">
	
							<div class="width-100-mob">
	
								<label class="text-l-mob" for="name">
									<span>Name</span>
									<input type="text" name="name" required />
								</label>
	
							</div>

							<div class="width-100-mob">
	
								<label class="text-l-mob" for="email">
									<span>Email Address</span>
									<input type="email" name="_replyto" required />
								</label>
	
							</div>

							<div class="width-100-mob">
	
								<label class="text-l-mob" for="tel">
									<span>Phone Number (optional)</span>
									<input type="text" name="tel" />
								</label>
	
							</div>
	
						</div>
						<div class="width-100-mob">
	
							<label class="text-l-mob" for="name">
								<span for="name">Message</span>
								<textarea id="message" name="message" rows="4" required></textarea>
							</label>
	
						</div>

						<div class="flow-ttb-mob align-c-mob pad-respond-t-mob">
							<button class="theme-dark-green" type="submit" aria-label="button">Send Message</button>
						</div>
	
				</div>
	
			</form>
	
		</div>
	
	</section>
	