<div class="page-leader pad-respond-l-mob pad-respond-r-des theme-dark-grey">

	<!--
	Container
	-->

	<div class="flow-ltr-mob align-c-mob justify-sb-mob">

		<div class="flow-ltr-mob width-100-mob justify-sb-mob">

			<!--
			Page leader brand (logo)
			-->

			<div class="page-leader__brand justify-sb-mob theme-dark-grey">

				<a href="index.php" title="logo" aria-label="education incorporated logo">EduInc Boutique School</a>
				<a class="page-leader__nav-button pushy--activate-menu" role="button" aria-label="open menu"></a>

			</div>

			<!--
			Page nav inside Pushy
			-->

			<div class="pushy pushy--top">

				<nav class="page-nav">

					<!-- Secondary items must link to external page to avoid continuous hover in IE11 -->

					<div class="page-nav__primary-container" tabindex="0">
						<span class="page-nav__primary-item">Our Students</span>
						<div class="page-nav__secondary-container">
							<a class="page-nav__secondary-item pushy--toggle" href="academics.php" aria-label="visit academics page">Academics</a>
							<a class="page-nav__secondary-item pushy--toggle" href="entrepreneurs.php" aria-label="visit entrepreneurs page">Entrepreneurs</a>
							<a class="page-nav__secondary-item pushy--toggle" href="creatives.php" aria-label="visit creatives page">Creatives</a>
							<a class="page-nav__secondary-item pushy--toggle" href="individuals.php" aria-label="visit individuals page">Individuals</a>
							<a class="page-nav__secondary-item pushy--toggle" href="sports-achievers.php" aria-label="visit sports achievers page">Sports Achievers</a>
						</div>
					</div>

					<div class="page-nav__primary-container" tabindex="0">
						<span class="page-nav__primary-item">Our School</span>
						<div class="page-nav__secondary-container">
							<a class="page-nav__secondary-item pushy--toggle" href="about.php" aria-label="visit about us page">About Us</a>
							<a class="page-nav__secondary-item pushy--toggle" href="values.php" aria-label="visit our values page">Our Values</a>
							<a class="page-nav__secondary-item pushy--toggle" href="staff.php" aria-label="visit our staff page">Our Staff</a>
							<a class="page-nav__secondary-item pushy--toggle" href="fees.php" aria-label="visit our fees page">Fees</a>
							<a class="page-nav__secondary-item pushy--toggle" href="curriculum.php" aria-label="visit curriculum page">Curriculum</a>
							<a class="page-nav__secondary-item pushy--toggle" href="campus.php" aria-label="visit campus page">Campus</a>
							<a class="page-nav__secondary-item pushy--toggle" href="admissions.php" aria-label="visit admissions page">Admissions</a>
							<a class="page-nav__secondary-item pushy--toggle" href="awards.php" aria-label="visit school awards page">Awards</a>
							<a class="page-nav__secondary-item pushy--toggle" href="houses.php" aria-label="visit school houses page">Houses</a>
							<a class="page-nav__secondary-item pushy--toggle" href="activities.php" aria-label="visit after-school activities page">After-School Activities</a>
							<a class="page-nav__secondary-item pushy--toggle" href="experiential-learning.php" aria-label="visit experiential learning page">Experiential Learning</a>
							<a class="page-nav__secondary-item pushy--toggle" href="tour-request-form.php" aria-label="book a tour of the school">Book a Tour</a>
							<a class="page-nav__secondary-item pushy--toggle" href="join-team.php" aria-label="visit join our team page">Join Our Team</a>
						</div>
					</div>

					<div class="page-nav__primary-container" tabindex="0">
						<a class="page-nav__primary-item pushy--toggle" href="resources.php" aria-label="visit resources page">Resources</a>
					</div>

					<div class="page-nav__primary-container" tabindex="0">
						<a class="page-nav__primary-item pushy--toggle" href="#contact" aria-label="visit contact page">Contact</a>
					</div>
		
				</nav>

			</div>

		</div>

	</div>

</div>

<!--
Site overlay for Pushy
-->

<div class="pushy__site-overlay"></div>