<!--
Reviews
-->

<section class="pad-respond-xy-mob theme-grey">

    <!--
    Container
    -->

    <div class="flow-ttb-mob flow-ltr-tab constrain spread pad-y-mob align-s-tab">

        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-c34b0047-81a6-4798-a035-d0c42af54ab4"></div>

    </div>

</section>

<footer class="pad-respond-xy-mob theme-dark-grey" id="pagefooter">

	<!--
	Container
	-->

	<div class="flow-btt-mob flow-ltr-tab width-100-mob constrain align-s-tab pad-y-mob">

		<div class="pad-respond-r-tab pad-y-mob width-100-mob width-50-tab">

			<!--
			MailerLite form script
			-->
			<script type="text/javascript" src="https://static.mailerlite.com/data/webforms/774698/q3x3q8.js?v10"></script>

			<div class="flow-ttb-mob align-c-mob pad-t-mob">

				<p class="pad-b-mob">EduInc Internet powered by <a href="http://coolideas.co.za/" name="cool ideas" target="_blank" rel="noopener">Cool Ideas</a></p>
				<a href="http://coolideas.co.za/" name="cool ideas" target="_blank" rel="noopener"><div class="margin-b-mob brand-cool-ideas"></div></a>

				<p class="pad-b-mob">Security provided by <a href="http://trss.co.za/" name="trss reaction" target="_blank" rel="noopener">TRSS Reaction</a></p>
				<a href="http://trss.co.za/" name="trss reaction" target="_blank" rel="noopener"><div class="margin-b-mob brand-trss-reaction"></div></a>

			</div>

		</div>

		<div class="flow-ttb-mob width-100-mob width-50-tab spread-respond align-fs-mob justify-fs-mob pad-respond-l-tab pad-b-mob border-l-tab">

			<div class="flow-ttb-mob flow-ltr-tab spread-respond align-fs-mob justify-fs-mob pad-t-mob">

				<ul class="list-icon width-100-mob spread">

					<!--
					Calendar
					-->
					<li>
						<a href="https://calendar.google.com/calendar/u/2?cid=Y180dTE0ZzVjMHFpMWlnNzJyc3ViYmNmY2xqb0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t" name="calendar" target="_blank" rel="noopener">
							<span class="calendar">Public Calendar</span>
						</a>
					</li>

<!--					<li>
						<a href="https://calendar.google.com/calendar/ical/eduincstudents%40gmail.com/public/basic.ics" name="calendar" target="_blank" rel="noopener">
							<span class="calendar">Students' Calendar</span>
						</a>
					</li>
-->

					<!--
					Phone
					-->
					<li>
						<a href="tel:+27114678015" name="telephone number" target="_blank" rel="noopener">
							<span class="phone">+27 (0)11 467-8015</span>
						</a>
					</li>

					<!--
					Email
					-->
					<li>
						<a href="mailto:talktous@eduinc.co.za" name="email address" target="_blank" rel="noopener">
							<span class="email">talktous@eduinc.co.za</a></span>
						</a>
					</li>

					<!--
					Location
					-->
					<li>
						<a href="https://www.google.co.za/maps/place/40+Kingfisher+Dr,+Sandton,+2055/@-26.028766,28.0032123,17z/data=!3m1!4b1!4m5!3m4!1s0x1e9576a66cd1d227:0x1f3be5927af48c23!8m2!3d-26.028766!4d28.005401" name="physical address" target="_blank" rel="noopener">
							<span class="location">40 Kingfisher Drive, Fourways, 2191, South Africa</span>
						</a>
					</li>

				</ul>
				<ul class="list-icon width-100-mob spread">

                    <!--
					Review us on Google
					-->
					<li>
						<a href="http://search.google.com/local/writereview?placeid=ChIJJ9LRbKZ2lR4R_3E-HKJbX1Q" name="review us on google" target="_blank" rel="noopener">
							<span class="review">Review us on Google</span>
						</a>
					</li>

					<!--
					Facebook open group
					-->
					<li>
						<a href="https://www.facebook.com/Eduinc.co.za/" name="facebook group" target="_blank" rel="noopener">
							<span class="facebook">Facebook</span>
						</a>
					</li>

					<!--
					Facebook closed group
					-->
					<li>
						<a href="https://www.facebook.com/groups/931263730274963/" name="facebook group" target="_blank" rel="noopener">
							<span class="facebook">Facebook (closed group)</span>
						</a>
					</li>

					<!--
					Twitter closed group
					-->
					<li>
						<a href="https://twitter.com/eduinctweets/" name="twitter group" target="_blank" rel="noopener">
							<span class="twitter">Twitter (closed group)</span>
						</a>
					</li>

					<!--
					YouTube
					-->
					<li>
						<a href="https://www.youtube.com/channel/UChJ4pGzP_dOPeYFQu5iUwOA/" name="youtube channel" target="_blank" rel="noopener">
							<span class="youtube">YouTube</span>
						</a>
					</li>

				</ul>

			</div>

			<div>

				<p class="text-l-mob"><span class="no-break">GDE: JN700400746</span>, <span class="no-break">Umalusi: 17SCH0100420</span>, <span class="no-break">CIPC: 2019/142533/07</span>, <span class="no-break">VAT: 4520288996</span></p>

			</div>

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3585.14638465275!2d28.003212315026442!3d-26.028765983516266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9576a66cd1d227%3A0x1f3be5927af48c23!2s40+Kingfisher+Dr%2C+Fourways%2C+Sandton%2C+2055%2C+South+Africa!5e0!3m2!1sen!2snp!4v1551436849468" width="100%" height="150" style="border:0" allowfullscreen></iframe>

			<p class="text-l-mob">© Education Boutique Schooling (Pty) Ltd. All rights reserved. We do not endorse the content of third party websites. Site by <a href="https://lunia.co.za/" name="lunia" target="_blank" rel="noopener">Lunia</a>.</p>

		</div>

	</div>

</footer>
