<!-- https: //developers.google.com/search/docs/data-types/corporate-contacts -->
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Corporation",
		"name": "Education Incorporated Boutique School",
		"url": "https://educationincorporated.co.za",
		"sameAs": [
			"https://www.facebook.com/Eduinc.co.za/",
			"https://www.youtube.com/channel/UChJ4pGzP_dOPeYFQu5iUwOA/"
		],
		"legalName": "Education Incorporated",
		"foundingDate": "2013-01-01",
		"vatID": "4950255275",
		"description": "We help you plan, produce and publish your podcasts so you can tell your story.",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "PO Box 717",
			"addressLocality": "Jukskei Park",
			"addressRegion": "Gauteng",
			"postalCode": "2153",
			"addressCountry": "South Africa"
		},
		"email": "talktous(at)eduinc.co.za",
		"contactPoint": [
			{
				"@type": "ContactPoint",
				"telephone": "+27-11-467-8015",
				"contactType": "customer service"
			}
		],
		"founder": [
			{
				"@type": "Person",
				"name": "Gershom Aitchison",
				"jobTitle": "CEO"
			}
		]
	}
</script>