.hero {
	//height: 24rem;
}

.hero a {
	border-bottom: dashed 1px rgba(255, 255, 255, 0.5);
	background-color: transparent;
	padding-bottom: 3px;
	color: inherit;
	text-decoration: none;
	transition: border-bottom 0.15s ease;
	-webkit-text-decoration-skip: objects;
}

.hero a:active,
.hero a:focus,
.hero > a:hover {
	color: inherit;
}

.hero a:hover {
	border-bottom: dashed 1px rgba(255, 255, 255, 0.9);
}

.hero h1 {
	font-family: "montserrat-bold", sans-serif;
	font-size: 1.6rem;
	line-height: 2.1rem;
	letter-spacing: -0.0035rem;
	margin: 0;
	width: 100%;
}

.hero .h2 {
	font-family: "montserrat-bold", sans-serif;
	font-size: 1.2rem;
	line-height: 1.6rem;
	letter-spacing: -0.0035rem;
	margin: 0;
	width: 100%;
}

// Sibling elements spacing

.hero h1 ~ .h2 {
	margin-top: 1rem;
}

.hero .h2 ~ p {
	margin-top: 1.25rem;
}

.hero img {
	display: block;
	width: 100px;
	height: auto;
}

/* Tablet viewport
---------------------------------------------------------------------------- */

@media screen and (min-width: $viewport-tablet) {

	.hero h1 {
		font-size: 2.4rem;
		line-height: 2.9rem;
	}

	.hero {
		height: calc(100vh - #{$page-leader-height} + 1px);
	}

	.hero img {
		display: block;
		width: 115px;
		height: auto;
	}


}