/* Text
---------------------------------------------------------------------------- */

@mixin text-heading {
	font-family: $font-heading;
	letter-spacing: -0.005rem;
	text-align: $text-default-align;
}

@mixin text-plain {
	font-family: $font-plain;
	font-size: 1rem;
	letter-spacing: -0.005rem;
	text-align: $text-default-align;
	line-height: 1.5rem;
}

@mixin list {
	font-family: $font-plain;
	font-size: 1rem;
	letter-spacing: -0.005rem;
	text-align: left;
	line-height: 1.5rem;
}

@mixin name {
	@media only screen and (min-width: 0px) {
		
	}
	@media only screen and (min-width: $viewport-desktop) {

	}
}

