/* Root
---------------------------------------------------------------------------- */

$root-font-size-mobile: 16px;
$root-font-size-tablet: 16px;
$root-font-size-desktop: 16px;
$root-line-height: 1.8;

/* Viewports
---------------------------------------------------------------------------- */

$viewport-tablet: 720px;
$viewport-desktop: 1024px;

/* Spacing and sizing
---------------------------------------------------------------------------- */

$page-leader-height: 3rem;