<figure class="width-100-mob pad-x-mob radius-mob theme-grey border-mob accent-blue shadow-mob text-l-mob">

	<ul class="list-aside-faq">
		<li><a href="landing-1-article.php#soretummiesandotheranxieties" id="soretummiesandotheranxieties" aria-labelledby="soretummiesandotheranxieties">Sore tummies and other anxieties</a></li>
		<li><a href="landing-1-article.php#caniaffordyourfees" id="caniaffordyourfees" aria-labelledby="caniaffordyourfees">Can I afford your fees?</a></li>
		<li><a href="landing-1-article.php#ismychildunhappyatschool" id="ismychildunhappyatschool" aria-labelledby="ismychildunhappyatschool">Is my child unhappy at school?</a></li>
		<li><a href="landing-3-article.php#areyouamainstreamschool" id="areyouamainstreamschool" aria-labelledby="areyouamainstreamschool">Are you a mainstream school?</a></li>
		<li><a href="#pagefooter" id="whereiseducationincorporatedsituated" aria-labelledby="whereiseducationincorporatedsituated">Where is Education Incorporated situated?</a></li>
		<li><a href="landing-1-article.php#doyouhavespaceformychild" id="doyouhavespaceformychild" aria-labelledby="doyouhavespaceformychild">Do you have space for my child?</a></li>
		<li><a href="landing-2-article.php#whatdoyoureallymeanbysmallclasses" id="whatdoyoureallymeanbysmallclasses" aria-labelledby="whatdoyoureallymeanbysmallclasses">What do you really mean by "small classes"?</a></li>
		<li><a href="landing-2-article.php#doessmallclassesmeanremedial" id="doessmallclassesmeanremedial" aria-labelledby="doessmallclassesmeanremedial">Does "small classes" mean remedial?</a></li>
		<li><a href="landing-3-article.php#whydidyounameyourschooleducationincorporated" id="whydidyounameyourschooleducationincorporated" aria-labelledby="whydidyounameyourschooleducationincorporated">Why did you name your school Education Incorporated?</a></li>
	</ul>

</figure>