<figure class="width-100-mob pad-xy-mob radius-mob theme-grey border-mob accent-blue shadow-mob">

	<a href="https://solidgoldstudios.co.za/eduthink?utm_source=EduInc&utm_medium=Web%20Site" target="_blank" rel="noopener" aria-labelledby="listen-podcast">
		<img class="image-downloads border-mob" src="assets/images/eduthink.jpg" alt="eduthink podcast cover art">
	</a>

	<div>
		<h3>EduThink Podcast</h3>
		<p>Listen to conversations and interviews on education-related topics that are important to today's families.</p>
	</div>

	<div class="pad-t-mob">
		<a href="https://solidgoldstudios.co.za/eduthink?utm_source=EduInc&utm_medium=Web%20Site" target="_blank" rel="noopener" aria-label="listen to podcast"
			aria-labelledby="listen-podcast">
			<button class="theme-green" id="listen-podcast">Listen</button>
		</a>
	</div>

</figure>