<section class="theme-dark-grey border-b-mob">

	<div class="flow-ltr-mob">

		<div class="photo-strip__image border-r-mob">
			<div class="photo-strip__three-chemistry-students"></div>
		</div>
		
		<div class="photo-strip__image border-r-mob">
			<div class="photo-strip__three-boys-smiling"></div>
		</div>

		<div class="photo-strip__image border-r-mob">
			<div class="photo-strip__children-listening-to-teacher"></div>
		</div>

		<div class="photo-strip__image">
			<div class="photo-strip__two-students-hugging"></div>
		</div>

	</div>

</section>