/* Infusionsoft forms
---------------------------------------------------------------------------- */

// Add red star after labels to show required
form.infusion-form label > span:after {
	content: " *";
	color: $red;
}

/* Forms
---------------------------------------------------------------------------- */

// Target Firefox only
@-moz-document url-prefix("") {
	form div {
	}
}

label,
.label {
	display: block;
	position: relative;
	margin: 0 0 0 $radius;
	font-family: $font-form-element;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: -0.01rem;
	line-height: 1.2rem;
	text-align: left;
}

label > span + input,
.label > span + input,
label > span + textarea,
.label > span + textarea,
label > span + select,
.label > span + select {
	margin-top: calc(#{$radius} * 1);
	margin-left: -$radius;
	transition: all 0.15s ease-in;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
	outline: none;
	border-radius: $radius;
	border: solid 1px $border-color-light;
	background: #fff;
	padding: 0 1rem;
	width: 100%;
	height: $height-form-element;
	font-family: $font-form-element;
	font-size: 1rem;
	letter-spacing: -0.01rem;
	font-weight: normal;
	transition: $transition;
}

textarea {
	outline: none;
	resize: none;
	display: block;
	border-radius: $radius;
	border: solid 1px $border-color-light;
	background: #fff;
	padding: 1rem;
	width: 100%;
	font-family: $font-form-element;
	font-size: 1rem;
	letter-spacing: -0.01rem;
	font-weight: normal;
}

input:focus,
select:focus,
textarea:focus {
	border-color-light: $light-blue;
	//background-color: #f3f9f3;
}

input::placeholder,
textarea::placeholder {
	color: $border-color-light;
	letter-spacing: 0.01rem;
}

// Disable link
.disabled,
:disabled {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	opacity: 0.3;
}

/* Tablet viewport
---------------------------------------------------------------------------- */

@media screen and (min-width: $viewport-tablet) {
}

/* Desktop viewport
---------------------------------------------------------------------------- */

@media screen and (min-width: $viewport-desktop) {

	form input:focus,
	form select:focus,
	form textarea:focus {
		transition: all 0.15s ease-in;
	}

}
